/* Thiết kế giao diện cho trang index */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000; /* Đổi màu chữ của menu */
    text-decoration: none;
}

main {
    padding: 20px;
}

.news {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.news h2 {
    color: #333;
}

.news article {
    margin-bottom: 20px;
}

.news article img {
    width: 20%; /* Sửa kích thước hình ảnh để nó chiếm toàn bộ chiều rộng của phần tin tức */
    margin-bottom: 10px; /* Thêm margin dưới cho hình ảnh */
}

.news article h3 {
    color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}
